*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
padding:20px;
}

.header{
margin-bottom:20px;
}

.header h1{
font-size:28px;
}

.header p{
color:#999;
margin-top:5px;
}

.card{
background:#1d1d1d;
padding:20px;
border-radius:18px;
margin-bottom:20px;
box-shadow:0 0 10px rgba(255,255,255,.05);
}

#balance{
font-size:36px;
margin-top:10px;
color:#00e676;
}

button{
width:100%;
padding:16px;
border:none;
border-radius:14px;
background:#00c853;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

button:active{
transform:scale(.98);
    }
